.options-main {
    padding: 12px;
}

.options-main-drop-area {
    margin: 8px auto;
}

.options-main__user-select {
    display: flex;
    justify-content: space-evenly;
    width: 160px;
    margin: 0 auto;

    &-upload {
        background-color: #2196f3;
        color: #e3f2fd;
        outline: none;
        border: none;
        border-radius: 2px;
        width: 64px;
        height: 32px;
        font-size: 13px;
        padding: 0;
        box-shadow: 0 0 1px #0d47a1;
        text-align: center;
        line-height: 32px;

        &:hover {
            opacity: 0.7;
        }
    }

    &-delete {
        background-color: #f44336;
        color: #ffebee;
        outline: none;
        border: none;
        border-radius: 2px;
        width: 64px;
        height: 32px;
        font-size: 13px;
        padding: 0;
        box-shadow: 0 0 1px #e53935;

        &:hover {
            opacity: 0.7;
        }
    }
}